*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}
main{
    padding: 20px;
    max-width: 120px;
    margin: auto;
}
.section-title{
    font-size: 2em;
    font-weight: 700;
    margin: 30px 0 20px;
    text-align: left;
}