*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}
main{
    padding: 20px;
    max-width: 120px;
    margin: auto;
}
.section-title{
    font-size: 2em;
    font-weight: 700;
    margin: 30px 0 20px;
    text-align: left;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar .nav-links a{
    color: #cc0000;
}

.download-btn{
    background-color: #cc0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px ;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}
