body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ebebfd; 
}

.vertical-box-container { 
    width: 350px;
    padding: 30px 0;
    text-align: center;
    background-color: #e0ceff; 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.main-header {
    font-size: 2.2em;
    font-weight: 700;
    color: #4b0082; 
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.2;
}

.info-card {
    background-color: white;
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.narrow-card {
    width: 50%; 
}

.label {
    font-size: 0.9em;
    color: #444;
    margin: 0;
    line-height: 1.4;
}

.value-medium {
    font-size: 2em;
    font-weight: 800;
    color: #333;
    margin: 5px 0 0 0;
}