body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}


.profile-card {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: auto; 
    border: 2px solid black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px; 
    text-align: center;
    background-color: white;
    box-sizing: border-box; 
}

.profile-img {

    border-radius: 50%; 
    width: 150px; 
    height: 150px; 
    object-fit: cover; 
    margin-bottom: 15px;
}

h2 {
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
}

p {
    margin-top: 0;
    color: #666;
    font-size: 0.9em;
}